#title1 {
    background-color: #1E7468;  
    display: inline-block;
 }
 #title2 {
    background-color: #a1a565;  
    display: inline-block;
 }
 #title3 {
    background-color: #9089ea;  
    display: inline-block;
 }